body{
    color: #4a4a4a;
    font-size: 16px;
}
#block1{
    background: linear-gradient(0deg, rgba(255, 133, 22, 0.5), rgba(255, 133, 22, 0.5))
    
}
#block2{
    color: #000;
}
#block3{
    color: #ffffff;
}
#block4{
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
}
h2{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}